#faq {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #efefef;
  text-align: center;

  .faq-info {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    padding: 0 5%;

    ul {
      list-style: none;
      padding: 0 5%;

      h3 {
        text-align: center;
      }

      li {
        margin: 0.5em 0;

        a.toggle {
          text-align: left;
          display: block;
          border: 1px solid #bababa;
          color: #444;
          text-decoration: none;
          padding: 0.75em;

          -webkit-transition: 0.2s all ease;
          transition: 0.2s all ease;

          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }

          &.active {
            border-color: #b3b3b3;
            border-bottom: 1px solid #f1f1f1;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-color: rgba(0, 0, 0, 0.07);
            color: #222;
            font-weight: 500;
          }
        }
        .inner {
          text-align: left;
          padding-left: 1em;
          overflow: hidden;
          display: none;
          line-height: 1.5em;
          border: 1px solid #b3b3b3;
          border-top: none;
          border-bottom-right-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
        }
      }
    }
  } //faq

  @media (max-width: 950px) {
    .faq-info {
      grid-template: repeat(3, auto) / 1fr;
    }
  }
}
